.adventuries__list {

  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $breakpoint-large) {
    display: block;
  }
}

.adventuries__list {
  position: relative;

  margin: 0;
  padding: 0;
  min-height: 245px;
  list-style-type: none;
  background-color: $color-light-gray;
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    grid-template-rows: auto auto auto;
  }
  @media (min-width: $breakpoint-large) {
    display: flex;
    justify-content: space-between;
    gap: 68px;
  }
}

.adventuries__list::before {
  display: none;
  @media (min-width: $breakpoint-medium) {
  content: "";
  display: block;
  width: 268px;
  height: 547px;

  background-image: url("../img/iphone3-medium.png");
  background-repeat: no-repeat;

  @media (min-width: $breakpoint-medium) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  }
  @media (min-width: $breakpoint-large) {
    display: none;
  }

}

.adventuries__item {

  @media (min-width: $breakpoint-medium) {
    grid-column: 2/3;

  }
  @media (min-width: $breakpoint-large) {
    width: 252px;

  }
}

.adventuries__item--first:before {
  display: none;
  @media (min-width: $breakpoint-large) {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    margin-bottom: 59px;
    background-image: url("../img/iphone1.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--second:before {
  display: none;
  @media (min-width: $breakpoint-large) {
    content: "";
    display: block;
    margin-bottom: 59px;
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone2.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--third:before {
  display: none;
  @media (min-width: $breakpoint-large) {
    content: "";
    display: block;
    margin-bottom: 59px;
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone3-large.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--third:after {
  content: "";
    display: block;
    margin: 0 auto;
    width: 237px;
    height: 284px;
    background-image: url("../img/iphone3-small.png");
    background-repeat: no-repeat;
    background-position: center top;
  @media (min-width: $breakpoint-medium) {
   display: none;
  }
}




.adventuries__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  @media (min-width: $breakpoint-medium) {
    text-align: left;
  }
  @media (min-width: $breakpoint-large) {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.adventuries__paragraph {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  @media (min-width: $breakpoint-medium) {
    text-align: left;
  };
  @media (min-width: $breakpoint-large) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  };
}
