.adventuries {
  margin-bottom: 59px;
}

.adventures__color {
  min-height: 90px;
  background: linear-gradient(to bottom right, $color-white 50%, $color-light-gray 50%);
}

.adventuries__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 245px;
  list-style-type: none;
  background-color: $color-light-gray;
}
.adventuries__item {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-large) {
    width: 225px;
    margin-right: 75px;
  }
}

.adventuries__item::last-child {
  @media (min-width: $breakpoint-large) {
    margin-right: 0;
  }
}

.adventuries__item--third {
  position: relative;
}
.adventuries__image {
  align-self: center;
}

.adventuries__image--first,
.adventuries__image--second {
  display: none;
  @media (min-width: $breakpoint-large) {
    display: block;
  }
}

.adventuries__image--third {
  @media (min-width: $breakpoint-medium) {
    position: absolute;
    top: 0;
    left: -310px;
  }

  @media (min-width: $breakpoint-large) {
    position: static;
  }
}

.adventuries__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  @media (min-width: $breakpoint-medium) {
    text-align: left;
  }
  @media (min-width: $breakpoint-large) {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.adventuries__paragraph {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  @media (min-width: $breakpoint-medium) {
    text-align: left;
  }
  @media (min-width: $breakpoint-large) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}



