
.blockquote-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-medium) {
    flex-direction: column-reverse;
  }
}

.blockquote__blockquote::before {
  display: none;
  @media (min-width: $breakpoint-large) {
    content: "";
    display: block;
    width: 79px;
    height: 63px;
    margin: 0 auto;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.blockquote__author {
  margin: 0;
  margin-bottom: 31px;
  padding-top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
    @media (min-width: $breakpoint-medium) {
      margin-bottom: 17px;
      font-size: 20px;
    }
}
.blockquote__blockquote {
  margin: 0 auto;
  padding-bottom: 44px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

    @media (min-width: $breakpoint-medium) {
      font-size: 18px;
    }
    @media (min-width: $breakpoint-large) {
      width: 688px;
      padding-top: 58px;
      padding-bottom: 51px;
    }
}

.blockquote__paragraph {
  display: none;
  @media (min-width: $breakpoint-medium) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  @media (min-width: $breakpoint-large) {
    width: 688px;
  }
}

