.contasts__paragraph__guestions {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
.contasts__paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.contasts__link,
.contasts__address {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #D22856;
  text-decoration: none;
  font-style: normal;
}
