.contasts__guestions {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  @media (min-width: $breakpoint-medium) {
    font-size: 40px;
    line-height: 54px;
  }
  @media (min-width: $breakpoint-medium) {
    font-size: 50px;
    line-height: 68px;
  }
}
 .contacts__list {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  list-style-type: none;
  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.contacts__item:not(:last-child) {
@media (min-width: $breakpoint-medium) {
    margin-right: 87px;
  }
}

.contacts__item--order {
  @media (min-width: $breakpoint-large) {
    order: 1;
  }
}


.contasts__paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}

.contasts__link,
.contasts__address {
  display: block;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #D22856;
  text-decoration: none;
  font-style: normal;
  text-align: center;
}
.contacts__map-container {
  position: relative;
}

.contacts__map-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  height: 100px;
  top: 0;
  left: 50℅;
  transform: translate(-50%, 0);

  background-image: url("../img/triangle_white_footer.svg");
  @media (min-width: $breakpoint-medium) {
    width: 660px;
    height: 100px;
  }
  @media (min-width: $breakpoint-large) {
    width: 1200px;
    height: 100px;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  margin-top: -33px;
  border: none;
}
