.download {
    background-color: $color-graphite-gray;
    color: $color-white;
}


.download__button {
    background-color: transparent;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 29px 29px 29px 29px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 21px 38px;
    box-sizing: border-box;
    margin-top: 28px;
}
.download__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 32px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 28px;
    padding: 0;
    min-height: 56px;
    list-style-type: none;
    align-items: center;
}
.download__item:not(:last-child) {
  margin-right: 35px
}

.download__item--apple {
    background: url('../img/apple-logo.svg');
    background-repeat: no-repeat;
    width: 47px;
    height: 56px;
}
.download__item--android {
    background: url('../img/android-logo.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 47px;
}
.download__item--microsoft {
    background: url('../img/microsoft-logo.svg');
    background-repeat: no-repeat;
    width: 44px;
    height: 41px;
}
.download__paragraph {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 38px;
}
