.download {
  background-color: $color-graphite-gray;
  color: $color-white;
  @media (min-width: $breakpoint-medium) {
    background-color: transparent;
  }
}


.download__button {
  padding: 21px 38px;
  background-color: transparent;
  color: $color-white;
  border: 3px solid $color-white;
  border-radius: 29px 29px 29px 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  box-sizing: border-box;
  margin-top: 28px;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 28px;
  padding: 0;
  min-height: 56px;
  list-style-type: none;
}

.download__item:not(:last-child) {
  margin-right: 35px
}

.download__item--apple {
  width: 47px;
  height: 56px;
  background: url('../img/apple-logo.svg');
  background-repeat: no-repeat;
}

.download__item--android {
  width: 43px;
  height: 47px;
  background: url('../img/android-logo.svg');
  background-repeat: no-repeat;
}

.download__item--microsoft {
  width: 44px;
  height: 41px;
  background: url('../img/microsoft-logo.svg');
  background-repeat: no-repeat;
}

.download__paragraph {
  padding-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
