.field__input {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  padding: 15px 16px;
  color: $color-graphite-gray;
  border: 2px solid #E5E5E5;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.field__input::after {
  content: "";
  display: block;
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  color: $color-purple;
  background-color: #e5e5e5;
}

.field__input--phone::after {
  background-image: url("../img/icons/phone_icon.svg");
}

.field__input--mail::after {
  background-image: url("../img/icons/mail_icon.svg");
}

.field__input--textarea {
  width: 100%;
  padding: 25px;
}

.field__wrapper {
  position: relative;
}

.field__icon {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
}

.field--contacts {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-medium) {
    flex-direction: column-reverse;
  }
}


