.filter {
  background-color: $color-light-gray;
  @media (min-width: $breakpoint-medium) {
    display: flex;
  }
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__item::after {
  content: "";
  background-repeat: no-repeat;
}

.filter__item--crop::after {
  background-image: url("../img/catalog/crop.svg");
}

.filter__item--fill::after {
  background-image: url("../img/catalog/fill.svg");
}

.filter__item--contrast::after {
  background-image: url("../img/catalog/contrast.svg");
}

.filter__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.filter__icon--crop {
  background-image: url("../img/catalog/crop.svg");
}

.filter__icon--fill {
  background-image: url("../img/catalog/fill.svg");
}

.filter__icon--contrast {
  background-image: url("../img/catalog/contrast.svg");
}
