.page__footer__social__link {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px;
  padding: 17px 15px;
}
.page__footer__social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.page__footer__social__item:not(:last-child) {
  margin-right: 14px;
}
