.page-footer__wrapper {
  margin: 40px auto;

  width: 65%;
  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 82px;
  }
}

.page-footer__logo {

  margin-bottom: 41px;
  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 200px;
  color: $color-graphite-gray;
  text-decoration: none;
}

.developer {
  fill: #D22856;
}
