@media (min-width: $breakpoint-medium) {
  .page-footer__wrapper {
      display: flex;
      align-items: center;
      padding-top: 70px;
      padding-bottom: 82px;
  }
}

.page-footer__logo {
  margin-bottom: 41px;
  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}


.page-footer__link {
  display: flex;
  align-items: center;
  color: $color-graphite-gray;
  text-decoration: none;
}
.developer {
  fill: #D22856;
}
