.form {
  @media (min-width: $breakpoint-medium) {
  display: flex;
  flex-direction: column;
  }
  @media (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: minmax(200px, 431px) minmax(200px, 431px);
    gap: 74px;

    }
}

.form__group {
  margin: 0;
  margin-bottom: 65px;
}

.field-group {
  padding: 0;
  border: none;
  @media (min-width: $breakpoint-medium) {
    border: 2px solid #E5E5E5;
  }
}

.form__group--traveler {
  border: none;
  @media (min-width: $breakpoint-large) {
    padding-top: 63px;
  }
}

.form__group--contacts {
  @media (min-width: $breakpoint-medium) {
    order: 1;
    padding: 44px 60px;
  }
  @media (min-width: $breakpoint-large) {
    grid-column: 1/-1;

  }
}

.form__group--application {
  @media (min-width: $breakpoint-medium) {
    padding: 54px 60px;
  }
  @media (min-width: $breakpoint-large) {
    padding: 37px 32px;
  }
}

.form__group--achievements {
  @media (min-width: $breakpoint-medium) {
  order: 2;
  padding: 54px 60px;
  }
  @media (min-width: $breakpoint-large) {
    grid-column: 1/-1;
  }
}

.form__group--description {
  @media (min-width: $breakpoint-medium) {
  order: 3;
  padding: 47px 60px;
  }
  @media (min-width: $breakpoint-large) {
    grid-column: 1/-1;
  }
}

.form__footer--send {
  @media (min-width: $breakpoint-medium) {
  order: 4;
  }
  @media (min-width: $breakpoint-large) {
    grid-column: 1/-1;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  padding-left: 41px;
  list-style: none;
}

.field {
  color: $color-purple;
  font-family: $font;
  font-size: 14px;
  line-height: 30px;
@media (min-width: $breakpoint-medium) {
    position: relative;
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr);
    align-items: center;
    gap: 26px;
  }
}

.field__lead {
  text-transform: uppercase;
}

.field-group__item:not(:last-child) {
  margin-bottom: 42px;
}

.field-group__heading {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color-purple;
  text-transform: uppercase;
  @media (min-width: $breakpoint-medium) {
    line-height: 30px;
  }
}

.field-group__heading--contacts {
  display: none;
  @media (min-width: $breakpoint-medium) {
    display: block;
  }
}

.control {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 22px;
  color: $color-graphite-gray;
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.control__input {
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

}

.control__lead {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 22px;
  align-items: center;
}

.control__lead::before, .control__lead::after {
  content: "";
  height: 35px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.control__lead::before {
  border: 1px solid #cdcdcd;
}

.control--checkbox .control__input:checked + .control__lead::after {
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) 50%;
  background-image: url('../img/icons/check.svg');
  background-color: transparent;
}

@media (min-width: $breakpoint-large) {
  .field-group__list--achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


.form__footer  {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 296px 1fr;
    gap: 135px;
  }
}
.form__button {
  margin-bottom: 56px;
  padding: 18px 58px;
  border: none;
  background-color: #2AAB6D;
  color: $color-white;
  font-family: $font;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}

.form__additional {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__color {
  color: $color-purple;
}
