

.form__group {
  margin: 0;
}

.field-group {
  padding: 0;
  border: none;
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $breakpoint-medium) {
  .field {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 26px;
    color: $color-purple;
    font-family: $font;
    font-size: 14px;
    line-height: 30px;
  }
}

.field__lead {
  text-transform: uppercase;
}

.field-group__item {
  margin-bottom: 47px;
  text-align: left;
}

.field-group__heading {
  font-size: 14px;
  line-height: 18px;
  color: $color-purple;
}

.control {
  position: relative;
  display: block;
  padding-left: 22px;
}


