
.like {
  display: flex;
  gap: 18px;
  align-items: center;
  @media (min-width: $breakpoint-medium) {
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;

    align-self: flex-end;
    margin-left: auto;
    }
}

.like__description {
  font-size: 12px;
  line-height: 24px;
  color: $color-purple;
}
