.page__header {
  background-color: $color-graphite-gray;
  color: $color-white;
  background-repeat: no-repeat;
  background-image: url('../img/bg-mobile.jpg');
  background-size: cover;
    @media (min-width: $breakpoint-small) {
      background-image: url('../img/bg-tablet.jpg');
    }
    @media (min-width: $breakpoint-large) {
      background-image: url('../img/bg-desktop.jpg');
    }
}

.header__wrapper {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 165px 135px 388px;
    grid-template-rows: auto auto auto;
  }
}
.page__header--image {
  position: relative;
}

.page-header__nav {
  background: rgba (0, 0, 0, 0.3);
}

.page-header__bar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.page-header__toggler {
    width: 50px;
    height: 24px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/icons/burger.svg);
    border: none;
    @media (max-width: $breakpoint-medium-down) {
      .page-header__nav--closed & {
        display: block;
      }
      .page-header__nav--opened & {
        display: block;
        background-image: url("../img/icons/close.svg");
      }
    }

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
}

.page-header__nav--opened .page-header__menu {
  @media (max-width: $breakpoint-small-down) {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
  }
}

.page-header__nav--closed .page-header__menu {
  @media (max-width: $breakpoint-medium-down) {
    display: none;
  }
}



.header__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $color-white;
  @media (min-width: $breakpoint-medium) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 29px;
    margin-top: 110px;
    margin-left: 51px;
    width: 200px;
    font-size: 40px;
    line-height: 48px;
  };
  @media (min-width: $breakpoint-large) {
    margin-bottom: 51px;

    font-size: 50px;
    line-height: 68px
  }
}

.header__phone {
  grid-column: 2/4;
  grid-row: 2/-1;

}


