.page__header {
    background-image: url('../img/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-color: $color-graphite-gray;
    color: $color-white;
    min-height: 462px;
    position: relative;
}
.page-header__bar {
    display: grid;
    grid-template-columns: 74px 50px;
    gap: 156px;
    padding-top: 22px;
    padding-bottom: 21px;
}
.page-header__toggler {
    width: 50px;
    height: 24px;

    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/icons/burger.svg);
    border: none;
}
.page-header__promo {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
.phone {
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 320px;
  height: 286px;
}
