.page__header {


    color: $color-white;



}
.page__header--image {
  position: relative;
}
.page__header--image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;

  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: url('../img/bg-mobile.jpg');

    @media (min-width: $breakpoint-medium) {
      background-image: url('../img/bg-tablet.jpg');

    }
    @media (min-width: $breakpoint-large) {
      background-image: url('../img/bg-desktop.jpg');

    }
}
.page-header__bar {
    display: flex;

    gap: 156px;
    padding-top: 22px;
    padding-bottom: 21px;
}
.page-header__toggler {
    width: 50px;
    height: 24px;
    margin-left: auto;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../img/icons/burger.svg);
    border: none;
}
.page-header__promo {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}
.phone {
  background-image: url('../img/phone-mobile.png');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 320px;
  height: 286px;
  @media (min-width: $breakpoint-medium) {
    background-image: url('../img/phone-tablet.png');
    width: 660px;
    height: 545px;
    left: -150px;
  }
  @media (min-width: $breakpoint-large) {
    background-image: url('../img/phone-desktop.png');
    width: 1050px;
    height: 645px;
    left: -150px;
  }
}
