.promo__paragraph {
    font-size: 24px;
    line-height: 29px;
   
}
.promo__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.promo__title {
    font-size: 18px;
    line-height: 24px;
}
.promo__item__paragraph {
    font-size: 14px;
    line-height: 24px;
}
.promo__device__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 245px;
}
.promo__device--third {
    background-image: url('../img/iphone3-small.png');
    background-repeat: no-repeat;
}