.promo__paragraph {
    font-size: 24px;
    line-height: 29px;

}


.promo__title {
    font-size: 18px;
    line-height: 24px;
}
.promo__item__paragraph {
    font-size: 14px;
    line-height: 24px;
}

