.range__scale {
  position: relative;
  height: 2px;
  width: 240px;
  margin: 0 auto;
  background-color: $color-graphite-gray;
  border-bottom: 1px solid rgba(40, 54, 69, 1);

}
.range__bar {
  position: absolute;
  height: 4px;

}
.range__toggle {
position: absolute;
width: 16px;
height: 16px;
background: #EBEBEB;
border: 2px solid $color-purple;
border-radius: 50%;
cursor: pointer;
}

.range__toggle--crop {
  top: -6px;
  left: 231px;
}

.range__toggle--fill {
  top: -6px;
  left: 34px;
}

.range__toggle--contrast {
  top: -6px;
  left: 136px;
}
