.slider__controls {
  position: absolute;
  top: 155px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider__button {
  display: none;
  @media (min-width: $breakpoint-large) {
    display: block;
    width: 22px;
    height: 41px;
    background-image: url(../img/icons/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
  }
}

.slider-next {
  transform: rotate(180deg);
}
