.social {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  @media (min-width: $breakpoint-medium) {
    margin-bottom: 0;
  }
}

.social__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 17px 15px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  }

.social__item:not(:last-child) {
  margin-right: 14px;
}

.social__image {
  fill: $color-purple;
}
