.tariff__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $color-white;
}

.tariff-compare {

  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariff-compare__header {
    background-color: $color-graphite-gray;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.tariff-compare__header--hit {
  background-image: url("../img/hit-desktop.png");
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-medium) {
    background-image: url("../img/hit-tablet.png");
    }
  @media (min-width: $breakpoint-large) {
    background-image: url("../img/hit-desktop.png");
  }
}

.tariff-compare__item {
  display: flex;
  justify-content: space-between;
}


.tariff-compare--yes {
  display: block;
  width: 31px;
  height: 21px;
  padding: 19px 17px;
  background-image: url('../img/icons/yes.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.tariff-compare--no {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url('../img/icons/no.svg');
  background-repeat: no-repeat;
  background-position: center;
}
