.tariff-compare__table {
  margin: 0 auto 43px;
  padding: 0 20px;

  background-color: $color-white;
  border-collapse: collapse;
  transform: translateX(-255px);
  overflow: hidden;
}

.tariff-compare__header,
.tariff-compare {
    border: 2px solid #E5E5E5;
}

.tariff-compare__header,
.tariff-compare {
    width: 234px;
    min-height: 59px;
}

.tariff-compare__header {
    background-color: $color-graphite-gray;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.tariff-compare--element {
  display: block;
  font-weight: 300;
  font-size: 24px;
    line-height: 30px;
}

.tariff-compare {
    font-size: 18px;
    line-height: 30px;
}

.tariff-compare__header--none {
    background-color: $color-white;
    border: none;
}

.tariff-compare__header--hit {
  background-image: url("../img/hit-desktop.png");
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-medium) {
    background-image: url("../img/hit-tablet.png");
    }
  @media (min-width: $breakpoint-medium) {
    background-image: url("../img/hit-desktop.png");
  }
}

.tariff-compare--name {
    padding: 23px 22px;
}

.tariff-compare--yes {
    background-image: url('../img/icons/yes.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.tariff-compare--no {
    background-image: url('../img/icons/no.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
