.triangle-bottom {
  position: relative;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 33px solid $color-white;
  @media (min-width: $breakpoint-medium) {
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
    border-top: 53px solid $color-white;
  }
  @media (min-width: $breakpoint-medium) {
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 98px solid $color-white;
  }
}
