@font-face {
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.adventuries {
  margin-bottom: 59px;
}

.adventures__color {
  min-height: 90px;
  background: linear-gradient(to bottom right, #ffffff 50%, #F2F2F2 50%);
}

.adventuries__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 245px;
  list-style-type: none;
  background-color: #F2F2F2;
}

.adventuries__list::before {
  content: "";
  display: none;
}
@media (min-width: 660px) {
  .adventuries__list::before {
    content: "";
    display: block;
    width: 268px;
    height: 547px;
    background-image: url("../img/iphone3-medium.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .adventuries__list::before {
    display: none;
  }
}

.adventuries__item {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .adventuries__item {
    width: 225px;
    margin-right: 75px;
  }
}

.adventuries__item--first:before {
  display: none;
}
@media (min-width: 1200px) {
  .adventuries__item--first:before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone1.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--second:before {
  display: none;
}
@media (min-width: 1200px) {
  .adventuries__item--second:before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone2.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--third:before {
  display: none;
}
@media (min-width: 1200px) {
  .adventuries__item--third:before {
    content: "";
    display: block;
    width: 186px;
    height: 382px;
    background-image: url("../img/iphone3-large.png");
    background-repeat: no-repeat;
  }
}

.adventuries__item--third:after {
  content: "";
  display: block;
  width: 237px;
  height: 421px;
  background-image: url("../img/iphone3-small.png");
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .adventuries__item--third:after {
    display: none;
  }
}

.adventuries__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 660px) {
  .adventuries__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .adventuries__title {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.adventuries__paragraph {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 660px) {
  .adventuries__paragraph {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .adventuries__paragraph {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.blockquote-wrapper {
  position: relative;
  display: flex;
}
@media (min-width: 660px) {
  .blockquote-wrapper {
    flex-direction: column-reverse;
  }
}

.blockquote__image {
  display: none;
}
@media (min-width: 1200px) {
  .blockquote__image {
    display: block;
    width: 79px;
    height: 63px;
    margin: 0 auto;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.blockquote__author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .blockquote__author {
    font-size: 20px;
  }
}

.blockquote__blockquote {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .blockquote__blockquote {
    padding-top: 58px;
  }
}
@media (min-width: 660px) {
  .blockquote__blockquote {
    width: 688px;
    font-size: 18px;
  }
}

.blockquote__paragraph {
  display: none;
}
@media (min-width: 660px) {
  .blockquote__paragraph {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .blockquote__paragraph {
    width: 688px;
  }
}

.page__body {
  margin: 0;
}

.button {
  display: inline-block;
  font-family: "Opensans", "Arial", sans-serif;
}

.card__img {
  margin-bottom: 0;
}

.card__name {
  padding-top: 25px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.card__color {
  background-color: #f2f2f2;
}

.time {
  margin-top: 25px;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.card__comment {
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.contasts__guestions {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
@media (min-width: 660px) {
  .contasts__guestions {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 660px) {
  .contasts__guestions {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  margin: o;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 660px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 660px) {
  .contacts__item {
    margin-right: 87px;
  }
}
@media (min-width: 660px) {
  .contacts__item:last-child {
    margin-right: 0;
  }
}
.contasts__paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.contasts__link,
.contasts__address {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #D22856;
  text-decoration: none;
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
}

.download {
  background-color: #283645;
  color: #ffffff;
}

.download__button {
  padding: 21px 38px;
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px 29px 29px 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  box-sizing: border-box;
  margin-top: 28px;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 28px;
  padding: 0;
  min-height: 56px;
  list-style-type: none;
}

.download__item:not(:last-child) {
  margin-right: 35px;
}

.download__item--apple {
  width: 47px;
  height: 56px;
  background: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
}

.download__item--android {
  width: 43px;
  height: 47px;
  background: url("../img/android-logo.svg");
  background-repeat: no-repeat;
}

.download__item--microsoft {
  width: 44px;
  height: 41px;
  background: url("../img/microsoft-logo.svg");
  background-repeat: no-repeat;
}

.download__paragraph {
  padding-bottom: 38px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.filter {
  background-color: #F2F2F2;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    display: block;
    background-color: #F2F2F2;
  }
}

.effect__wrapper {
  display: flex;
}

.effect__image {
  width: 238px;
  height: 276px;
  background: url(../img/effect-tablet.png);
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .effect__image {
    width: 298px;
    height: 345px;
    background: url(../img/effect-desktop.png);
  }
}

.effect__text {
  width: 310px;
  margin-left: 72px;
}
@media (min-width: 1200px) {
  .effect__text {
    width: 534px;
    margin-left: 71px;
  }
}

.effect__title {
  width: 168px;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 37px;
  font-size: 30px;
  line-height: 36px;
}
@media (min-width: 1200px) {
  .effect__title {
    width: 100%;
    margin-bottom: 31px;
    padding-top: 95px;
    line-height: 30px;
  }
}

.effect__paragraph {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .effect__paragraph {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #D22856;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 82px;
  }
}
.page-footer__logo {
  margin-bottom: 41px;
}
@media (min-width: 660px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  color: #283645;
  text-decoration: none;
}

.developer {
  fill: #D22856;
}

.form__group {
  margin: 0;
}

.field-group {
  padding: 0;
  border: none;
}
@media (min-width: 660px) {
  .field-group {
    border: 2px solid #E5E5E5;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 660px) {
  .field {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 26px;
    color: #D22856;
    font-family: "Opensans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
  }
}
.field__lead {
  text-transform: uppercase;
}

.field-group__item {
  margin-bottom: 47px;
}

.field-group__heading {
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .field-group__heading {
    line-height: 30px;
  }
}

.field-group__heading--contacts {
  display: none;
}
@media (min-width: 660px) {
  .field-group__heading--contacts {
    display: block;
  }
}

.control {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 22px;
  color: #283645;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 18x;
  font-weight: 400;
  line-height: 30px;
}

.control__input {
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.control__lead {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 22px;
  align-items: center;
}

.control__lead::before, .control__lead::after {
  content: "";
  height: 35px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.control__lead::before {
  border: 1px solid #cdcdcd;
}

.control--checkbox .control__input:checked + .control__lead::after {
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) 50%;
  background-image: url("../img/icons/check.svg");
  background-color: transparent;
}

@media (min-width: 1200px) {
  .field-group__list--achievements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.field__input {
  min-width: 100px;
  padding: 23px 20px;
  color: #283645;
  border: 2px solid #E5E5E5;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.field__input--textarea {
  margin: 25px;
}

.field__wrapper {
  position: relative;
}

.field__icon {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
}

.field--contacts {
  display: flex;
  flex-direction: column;
}
@media (min-width: 660px) {
  .field--contacts {
    flex-direction: column-reverse;
  }
}

.form__button {
  padding: 18px 58px;
  border: none;
  background-color: #2AAB6D;
  color: #ffffff;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__additional {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__color {
  color: #D22856;
}

.like {
  display: flex;
  gap: 18px;
}

.like__description {
  font-size: 12px;
  line-height: 24px;
  color: #D22856;
}

.look {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .look {
    font-size: 18px;
  }
}

.page__header {
  background-color: #283645;
  color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mobile.jpg");
  background-size: cover;
}
@media (min-width: 400px) {
  .page__header {
    background-image: url("../img/bg-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .page__header {
    background-image: url("../img/bg-desktop.jpg");
  }
}

.page__header--image {
  position: relative;
}

.page-header__nav {
  background: rgba 0, 0, 0, 0.3;
}

.page-header__bar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.page-header__toggler {
  width: 50px;
  height: 24px;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icons/burger.svg);
  border: none;
}
@media (max-width: 659px) {
  .page-header__nav--closed .page-header__toggler {
    display: block;
  }
  .page-header__nav--opened .page-header__toggler {
    display: block;
    background-image: url("../img/icons/close.svg");
  }
}
@media (min-width: 660px) {
  .page-header__toggler {
    display: none;
  }
}

@media (max-width: 659px) {
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
  }
}

@media (max-width: 1199px) {
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 660px) {
  .header__title {
    margin-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    margin-bottom: 51px;
  }
}

.page__body {
  position: relative;
  font-family: "Opensans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #283645;
}

.promition__paragraph {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .promition__paragraph {
    font-size: 18px;
  }
}

.promo__paragraph {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
@media (min-width: 660px) {
  .promo__paragraph {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 1200px) {
  .promo__paragraph {
    font-size: 50px;
    line-height: 68px;
  }
}

.range__scale {
  position: relative;
  height: 4px;
  margin-bottom: 33px;
  background-color: #DCDCDC;
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #D22856;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #EBEBEB;
  border: 2px solid #D22856;
  border-radius: 50%;
  cursor: pointer;
}

.toggle--min {
  top: -8px;
  left: -10px;
}

.share__paragraph {
  font-size: 14px;
  line-height: 30px;
}
@media (min-width: 660px) {
  .share__paragraph {
    font-size: 18px;
  }
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .site-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: 659px) {
  .site-menu__item:first-child {
    border-top: 1px solid #000000;
  }
}

@media (max-width: 659px) {
  .site-menu__item {
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: 660px) {
  .site-menu__item--active {
    position: relative;
  }
}

.site-menu__link {
  display: block;
  padding: 25px;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #283645;
}
@media (min-width: 1200px) {
  .site-menu__link {
    text-transform: capitalize;
    line-height: 18px;
    background-color: transparent;
  }
}

.slider-controls {
  position: absolute;
  top: 155px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 22px;
  height: 41px;
  background-image: url(../img/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.slider-next {
  transform: rotate(180deg);
}

.social {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style-type: none;
}

.social__link {
  padding: 17px 15px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px;
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.tariff-compare__table {
  margin: 0 auto 43px;
  padding: 0 20px;
  background-color: #ffffff;
  border-collapse: collapse;
  transform: translateX(-255px);
  overflow: hidden;
}

.tariff-compare__header,
.tariff-compare {
  border: 2px solid #E5E5E5;
}

.tariff-compare__header,
.tariff-compare {
  width: 234px;
  min-height: 59px;
}

.tariff-compare__header {
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.tariff-compare--element {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.tariff-compare {
  font-size: 18px;
  line-height: 30px;
}

.tariff-compare__header--none {
  background-color: #ffffff;
  border: none;
}

.tariff-compare__header--hit {
  background-image: url("../img/hit-desktop.png");
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .tariff-compare__header--hit {
    background-image: url("../img/hit-tablet.png");
  }
}
@media (min-width: 660px) {
  .tariff-compare__header--hit {
    background-image: url("../img/hit-desktop.png");
  }
}

.tariff-compare--name {
  padding: 23px 22px;
}

.tariff-compare--yes {
  background-image: url("../img/icons/yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.tariff-compare--no {
  background-image: url("../img/icons/no.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */