@font-face {
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.adventures__color {
  height: 90px;
  background: linear-gradient(to bottom right, #ffffff 50%, #F2F2F2 50%);
}

.adventuries__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 245px;
  list-style-type: none;
  text-align: left;
  background-color: #F2F2F2;
}
@media (min-width: 1200px) {
  .adventuries__list {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .adventuries__item {
    width: 252px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .adventuries__item::last-child {
    margin-right: 0;
  }
}

.adventuries__item--third {
  position: relative;
}

.adventuries__image--first,
.adventuries__image--second {
  display: none;
}
@media (min-width: 1200px) {
  .adventuries__image--first,
.adventuries__image--second {
    display: block;
  }
}

@media (min-width: 660px) {
  .adventuries__image--third {
    position: absolute;
    top: 0;
    left: -310px;
  }
}
@media (min-width: 1200px) {
  .adventuries__image--third {
    position: static;
  }
}

.adventuries__title {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .adventuries__title {
    font-size: 30px;
    line-height: 30px;
  }
}

.adventuries__paragraph {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .adventuries__paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}

.adventuries__title {
  font-size: 18px;
  line-height: 24px;
}

.adventuries__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.blockquote-wrapper {
  display: flex;
  position: relative;
}
@media (min-width: 660px) {
  .blockquote-wrapper {
    flex-direction: column-reverse;
  }
}

.blockquote__image {
  display: none;
}
@media (min-width: 1200px) {
  .blockquote__image {
    display: block;
    width: 79px;
    height: 63px;
    margin: 0 auto;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.blockquote__author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 660px) {
  .blockquote__author {
    font-size: 20px;
  }
}

.blockquote__blockquote {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .blockquote__blockquote {
    padding-top: 58px;
  }
}
@media (min-width: 660px) {
  .blockquote__blockquote {
    width: 688px;
    font-size: 18px;
  }
}

.blockquote__paragraph {
  display: none;
}

@media (min-width: 660px) {
  .blockquote__paragraph {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .blockquote__paragraph {
    width: 688px;
  }
}

.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
}

.contasts__guestions {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}
@media (min-width: 660px) {
  .contasts__guestions {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 660px) {
  .contasts__guestions {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  margin: o;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 660px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 660px) {
  .contacts__item {
    margin-right: 87px;
  }
}
@media (min-width: 660px) {
  .contacts__item:last-child {
    margin-right: 0;
  }
}
.contasts__paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.contasts__link,
.contasts__address {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #D22856;
  text-decoration: none;
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
}

.download {
  background-color: #283645;
  color: #ffffff;
}

.download__button {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px 29px 29px 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 21px 38px;
  box-sizing: border-box;
  margin-top: 28px;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 28px;
  padding: 0;
  min-height: 56px;
  list-style-type: none;
  align-items: center;
}

.download__item:not(:last-child) {
  margin-right: 35px;
}

.download__item--apple {
  background: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
}

.download__item--android {
  background: url("../img/android-logo.svg");
  background-repeat: no-repeat;
  width: 43px;
  height: 47px;
}

.download__item--microsoft {
  background: url("../img/microsoft-logo.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 41px;
}

.download__paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 38px;
}

.effect {
  display: none;
}
@media (min-width: 660px) {
  .effect {
    display: block;
    text-align: left;
  }
}

.effect__wrapper {
  display: flex;
}

.effect__image {
  width: 238px;
  height: 276px;
  background: url(../img/effect-tablet.png);
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .effect__image {
    width: 298px;
    height: 345px;
    background: url(../img/effect-desktop.png);
  }
}

.effect__text {
  width: 310px;
  margin-left: 72px;
}
@media (min-width: 1200px) {
  .effect__text {
    width: 534px;
    margin-left: 71px;
  }
}

.effect__title {
  width: 168px;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 37px;
  font-size: 30px;
  line-height: 36px;
}
@media (min-width: 1200px) {
  .effect__title {
    width: 100%;
    margin-bottom: 31px;
    padding-top: 95px;
    line-height: 30px;
  }
}

.effect__paragraph {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .effect__paragraph {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  font-size: 14px;
  line-height: 24px;
  color: #D22856;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 660px) {
  .page-footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 82px;
  }
}
.page-footer__logo {
  margin-bottom: 41px;
}
@media (min-width: 660px) {
  .page-footer__logo {
    margin-bottom: 0;
  }
}

.page-footer__link {
  display: flex;
  align-items: center;
  color: #283645;
  text-decoration: none;
}

.developer {
  fill: #D22856;
}

.page__header {
  color: #ffffff;
}

.page__header--image {
  position: relative;
}

.page__header--image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-mobile.jpg");
}
@media (min-width: 660px) {
  .page__header--image::after {
    background-image: url("../img/bg-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .page__header--image::after {
    background-image: url("../img/bg-desktop.jpg");
  }
}

.header__image {
  min-height: 462px;
}
@media (min-width: 660px) {
  .header__image {
    min-height: 729px;
  }
}
@media (min-width: 1200px) {
  .header__image {
    min-height: 853px;
  }
}

.page-header__bar {
  display: flex;
  z-index: 1;
  gap: 156px;
  padding-top: 22px;
  padding-bottom: 21px;
}

.page-header__toggler {
  width: 50px;
  height: 24px;
  margin-left: auto;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icons/burger.svg);
  border: none;
}
@media (max-width: 659px) {
  .page-header__nav--closed .page-header__toggler {
    display: block;
  }
  .page-header__nav--opened .page-header__toggler {
    display: block;
    background-image: url("../img/icons/close.svg");
  }
}
@media (min-width: 660px) {
  .page-header__toggler {
    display: none;
  }
}

@media (max-width: 659px) {
  .page-header__nav--opened .page-header__menu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
  }
}

@media (max-width: 659px) {
  .page-header__nav--closed .page-header__menu {
    display: none;
  }
}

.site-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 32px;
}
@media (min-width: 1200px) {
  .site-menu {
    line-height: 18px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: 659px) {
  .site-menu__item:first-child {
    border-top: 1px solid #000000;
  }
}

@media (max-width: 659px) {
  .site-menu__item {
    border-bottom: 1px solid #000000;
  }
}

@media (min-width: 660px) {
  .site-menu__item--active {
    position: relative;
  }
}

.site-menu__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 25px;
  background-color: #283645;
}
@media (min-width: 1200px) {
  .site-menu__link {
    text-transform: capitalize;
    background-color: transparent;
  }
}

.page-header__promo {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.phone {
  background-image: url("../img/phone-mobile.png");
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 320px;
  height: 286px;
}
@media (min-width: 660px) {
  .phone {
    background-image: url("../img/phone-tablet.png");
    width: 660px;
    height: 545px;
    left: -150px;
  }
}
@media (min-width: 1200px) {
  .phone {
    background-image: url("../img/phone-desktop.png");
    width: 1050px;
    height: 645px;
    left: -150px;
  }
}

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
  color: #283645;
  text-align: center;
  position: relative;
}

.promo__paragraph {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
@media (min-width: 660px) {
  .promo__paragraph {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 1200px) {
  .promo__paragraph {
    font-size: 50px;
    line-height: 68px;
  }
}

.share__paragraph {
  font-size: 14px;
  line-height: 30px;
}
@media (min-width: 660px) {
  .share__paragraph {
    font-size: 18px;
  }
}

.slider-controls {
  position: absolute;
  top: 155px;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-button {
  background-image: url(../img/icons/arrow.svg);
  width: 22px;
  height: 41px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.slider-next {
  transform: rotate(180deg);
}

.social {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__link {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50px;
  padding: 17px 15px;
}

.social__item:not(:last-child) {
  margin-right: 14px;
}

.tariff__compare__table {
  padding: 0 20px;
  width: 832px;
  margin: 0 auto 43px;
  background-color: #fff;
  border-collapse: collapse;
  transform: translateX(-255px);
  overflow: hidden;
}

.tariff__compare__header,
.tariff__compare {
  border: 2px solid #E5E5E5;
}

.tariff__compare__header,
.tariff__compare {
  width: 234px;
  min-height: 59px;
}

.tariff__compare__header {
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.tariff__compare--element {
  font-weight: 300;
  font-size: 24px;
  display: block;
  line-height: 30px;
}

.tariff__compare {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.tariff__compare__header-none {
  background-color: #ffffff;
  border: none;
}

.tariff__compare__header--hit {
  background-image: url("../img/hit-desktop.png");
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .tariff__compare__header--hit {
    background-image: url("../img/hit-tablet.png");
  }
}
@media (min-width: 660px) {
  .tariff__compare__header--hit {
    background-image: url("../img/hit-desktop.png");
  }
}

.tariff__compare-name {
  padding: 23px 22px;
}

.tariff__compare-yes {
  background-image: url("../img/icons/yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.tariff__compare-no {
  background-image: url("../img/icons/no.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */