@font-face {
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
@font-face {
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.blockquote__author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.blockquote__blockquote {
  font-size: 14px;
  line-height: 30px;
}

.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
}

.download {
  background-color: #283645;
  color: #ffffff;
}

.download__button {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px 29px 29px 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 21px 38px;
  box-sizing: border-box;
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 28px;
  padding: 0;
  min-height: 56px;
  list-style-type: none;
}

.download__item--apple {
  background: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
}

.download__item--android {
  background: url("../img/android-logo.svg");
  background-repeat: no-repeat;
}

.download__item--microsoft {
  background: url("../img/microsoft-logo.svg");
  background-repeat: no-repeat;
}

.download__paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 38px;
}

.page__header {
  background-image: url("../img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #283645;
  color: #ffffff;
  min-height: 462px;
}

.page-header__bar {
  display: grid;
  grid-template-columns: 74px 50px;
  gap: 156px;
  padding-top: 22px;
  padding-bottom: 21px;
}

.page-header__toggler {
  width: 50px;
  height: 24px;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/icons/burger.svg);
  border: none;
}

.page-header__promo {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: #ffffff;
  color: #283645;
  text-align: center;
}

.promo__paragraph {
  font-size: 24px;
  line-height: 29px;
}

.promo__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.promo__title {
  font-size: 18px;
  line-height: 24px;
}

.promo__item__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.promo__device__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 245px;
}

.promo__device--third {
  background-image: url("../img/iphone3-small.png");
  background-repeat: no-repeat;
}

.tariff__compare__table,
.tariff__compare__header,
.tariff__compare {
  border: 2px solid #E5E5E5;
  border-collapse: collapse;
}

.tariff__compare__header,
.tariff__compare {
  width: 234px;
  min-height: 59px;
}

.tariff__compare__header {
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.tariff__compare {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.tariff__compare__header-none {
  background-color: #ffffff;
  border: none;
}

.tariff__compare-name {
  padding: 23px 22px;
}

.tariff__compare-yes {
  background-image: url("../img/icons/yes.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.tariff__compare-no {
  background-image: url("../img/icons/no.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */